@import "normalize.css";
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;  
}

:root{
    --font-primary: 'Montserrat', sans-serif;
    --max-width: 1200px;

    --color-brand: #ebf094;
    --color-dark: #223342;
    --color-light: #e7e1d6;
    --color-accent: #e34d4e;
  --color-bg-menu: rgba(34,51,66,.5);
  --color-font-menu: #fafafa;
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html{scroll-behavior: smooth;overflow-y: scroll;
  scroll-behavior: smooth;}
html, body {
    margin: 0;padding: 0!important;width: 100vw;overflow-x: hidden;
    font-family: var(--font-primary);
    line-height: 1.6;
    /* background-color: #e7e1d6; */
    font-size: 16px;
}
.d_flex{display: flex;}.j_between{justify-content: space-between;}.align_center{align-items: center;}.j_center{justify-content: center;}
.w_100{width: 100%;}.text-center{text-align: center;}
.section{
  padding-top: 138px;width: 100%;min-height: 100vh;position: relative;padding-bottom: 100px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  text-align: center;
}
.header__main{  width: 100%;
  /* background: var(--color-accent); */
  background: linear-gradient(180deg, #243B55, #223342); /* Degradado gris oscuro c치lido */

  /* padding: 0.5rem 1rem; */
}
.header__logo{font-family: var(--font-primary);}
.header__logo{margin: 1rem auto;}
.header__nav{
  /* padding: 0.5rem; */
  margin: auto;width: max-content;
}
a.header__nav-link,a.mobile-panel__link{
    font-size: .85rem;
    transition: color 0.3s;
    color: var(--color-dark);
    font-weight: 500;
    padding: 0.5rem 1.25rem;
    border-radius: 3px;
    white-space: nowrap;
    border: 1px solid transparent;
}
a.header__nav-link:hover,a.mobile-panel__link:hover{
    /* background-color: rgba(0, 0, 0, 0.08) ; */
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
}
a.header__nav-link.active{
    color: var(--color-accent);
    font-weight: 600;
}
/* Mobile menu */
.header__ico-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .header__ico-menu-bar {
    width: 25px;
    height: 3px;
    background: var(--color-font-menu);
    transition: transform 0.3s, opacity 0.3s;
  }
  
   
  
  .header__ico-menu.active .header__ico-menu-bar:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  
  .header__ico-menu.active .header__ico-menu-bar:nth-child(2) {
    opacity: 0;
  }
  
  .header__ico-menu.active .header__ico-menu-bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-12px);
  }

.mobile-panel{display: none;}

  /* seccion hero */
  /* .section.shadow::after{display: block;content: '';width: 100%;height: 100%;background-color: rgba(0,0,0,.3);position: absolute;top: 0;left: 0;z-index: 1;} */

.h1{font-size: 2.375rem;font-weight: 600;margin-bottom: 2rem;text-shadow: 0 0 5px #666;}
.h2{font-size: 1.5rem;margin-bottom: 4rem;font-weight: 600;}
.h1--primary{color: var(--color-font-menu);display: block;}
.h1--secondary{color: var(--color-brand);display: block;}
.h2--hero{color: var(--color-font-menu);font-size: 1.5rem;margin-bottom: 4rem;font-weight: 600;text-shadow: 0 0 5px #666;}
.btn{font-size: 1.25rem;font-weight: 500;padding: 0.5rem 1.25rem;border-radius: 3px;}
.btn--cta{background-color: var(--color-accent);color: #fff;border: 2px solid var(--color-accent)}

.workshop__title{font-size: 2.375rem;font-weight: 600;margin-bottom: 2rem;text-shadow: 0 0 5px #666;color: var(--color-font-menu);}
.section--workshop{color: var(--color-font-menu);font-weight: 600;}
.workshop__subtitle{font-size: 1.7rem;margin-bottom: 0.5rem;}
.workshop__p{margin-bottom: 2rem;font-size: 1.2rem;}

.section--hero{ position: relative;width: 100%;min-height:calc(100vh + 438px) ;}


.hero__column{height: 100%;padding: 4rem;z-index: 2;}
.hero__text{width: 50%;}

/* .section--about{text-align: center;} */
.about__content{width: 90%;max-width: 850px;margin: auto;}
.about__content2{/*width: 60%;max-width: 800px;*/  margin-right: 5%;margin-left: 38%; /*padding-bottom: 200px;*/}
#about .btn--cta{margin: 2rem auto;}
#about2 .btn--cta{margin: 2rem auto;}
#about3 .btn--cta{margin: 2rem auto;}
.section--about3{padding-left: 5%;padding-right: 5%;gap: 5%;background-color: #F5F3EF;}
/* .about__content3{} */
.about3__foto-container{width: 60%;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);

  /* Sombra interna requiere padding*/
  /* box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);padding: 5px;  */
}
.about3__foto{
  width: 100%;
   
  /* box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);  OK*/
 
/* borde degradado */
border: 4px solid transparent;
border-radius: 3px;
background: linear-gradient(to right, #f4c6b8, #faebd7);
-webkit-background-clip: border-box;
background-clip: border-box;

border: 8px solid #fff;
}
.section--3{background-color: #FAF8F6;}
.section--cakes{background-color: #F0ECE9;}
.section--5{background-color: #E8E4DF;}


.section__title{font-size: 1.75rem;margin-bottom: 2rem;text-transform: uppercase;}
.section__subtitle{font-size: 1.5rem;margin-bottom: 2rem;}
.section__text{font-weight: 500;font-size: 1rem;margin-bottom: 1rem;}

.parallax-container {
  position: relative;
  height: 100%;  
  overflow: hidden;
}

/* .parallax-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;  
  height: 100%;
  display: flex;

  animation: slide-horizontal 6s infinite ease-in-out;
} */

/* .parallax-slide {
  flex: 0 50%;  
  height: 100%;
  background-size: cover;
  background-position: center;
} */

 .parallax-slide:nth-child(1), .parallax-slide:nth-child(3) {
  background-image: url('../img/portada-con-sombra.png');
}

.parallax-slide:nth-child(2) {
  background-image: url('../img/portada2.png');
}
/* ***** */
.parallax-slider {
  position: fixed;
  overflow: hidden;
  height: 100vh; /* Altura total de la ventana */
  width: 100%;
}
.parallax-slider__track {
  display: flex;
  animation: slide-parallax-infinite 8s linear infinite;
  transform: translate3d(0, 0, 0);  
}

.parallax-slide {
  flex-shrink: 0;
  width: 100%;
  /* height: calc(100vh + 438px) ; */
  height: 100%;
  object-fit: cover;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 138px;
    /* position: relative; */
    padding-bottom: 300px;
}
/* ********* */
@keyframes slide-horizontal {
  0%, 33.33% { /* Pausa inicial de 2s */
    transform: translateX(0);
  }
  50%, 83.33% { /* Desliza a la segunda imagen y pausa 2s */
    transform: translateX(-50%);
  }
  100% { /* Regresa al inicio */
    transform: translateX(0);
  }
}


@keyframes slide-parallax-infinite {
  0% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-100%);
  }
  75% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(-200%);
  }
}
 
/* ************** */
/* .textos{position: absolute;z-index: 1;width: 100%;overflow: hidden;height: 100%;}
.textos-slide{height: 100%;width: 100vw;}
.textos-slider__track{ display: flex;width: 300%;
  animation: slide-parallax-infiniteTX 8s linear infinite;
  transform: translate3d(0, 0, 0);  } */
/* ************* */

.parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1{background-image: url(../img/paleta-celeste.png);}
.parallax10{background-image: url(../img/portada-con-sombra.png);}
.parallax11{background-image: url(../img/about15.png);}
.parallax12{background-image: url(../img/workshop-gris.png);}
.parallax13{background-image: url(../img/about-orne2.png);background-size: auto 100%;background-position: left bottom;}
.parallax2{background-image: url(../img/pastry-2735349_1280.jpg);}
.parallax3{background-image: url(../img/cake-3744058_1280.jpg);}
.parallax4{background-image: url(../img/tortas/torta5.jpeg);background-size: contain;background-position: center right;}
.parallax5{background-image: url(../img/tortas/torta--entera.jpg);background-size: contain;background-position: center right;}
.parallax6{background-image: url(../img/tortas/torta-entera2.jpg);background-size: contain;background-position: center right;}
.parallax7{background-image: url(../img/tortas/torta-de-paleta.jpg);background-size: contain;background-position: center right;}

/* seccion cakes types */
.cakes__types{display: grid;
  grid-template-columns: repeat(3, 1fr);  
  gap: 2.5vw;  
  width: 100%;
  max-width: 1100px;
  padding: 2.5vw;  
  margin: 0 auto;
}
.cakes__item{position: relative;overflow: hidden;}
.cakes__container{width: 100%;position: relative;}
.cakes__container::before {
  content: '';
  display: block;
  padding-top: 100%; /* Mantiene la relaci칩n 1:1 */
}
.cakes__img-container{position: absolute;top: 0;left: 0;right: 0;  bottom: 0;}
.cakes__img{object-fit: cover;object-position: center;width: 100%;height: 100%;}
.cakes__h3{margin: 10px 5px 5px 5px;  font-size: 1.5rem;}
.cakes__desc{position: absolute;width: 100%;top: 100%;height: 100%;background-color: #f4c6b8;padding: 1vw;
  /* animation: move-up 2s linear; */
  transform: top 0.8s easy;
}

@keyframes slide-parallax-infinite {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}
.cakes__view:hover ~ .cakes__desc{top: 0;}



.footer {
  background: linear-gradient(180deg, #223342, #000); /* Degradado gris oscuro c치lido */
  color: #FFFFFF;  
  padding: 2rem;
  text-align: center;
  /* background-color: #223342; */
  position: relative;z-index: 1;
}

/* botones flotantes */
.floating-button{position: fixed;z-index: 10; bottom: 20px;display: none;box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);border-radius: 50%;}
.floating-button--wapp{right: 20px;width: 56px;height: 56px;overflow: visible;}
.floating-button--wapp__img{width: 100%;height: 103%;}
.floating-button--up{background-color: var(--color-light);color: #fff;width: 48px;height: 48px;
  left: calc(50% - 24px);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s ease, transform 0.2s ease;
  animation: float 3s infinite ease-in-out;
}

.floating-button--up::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  position: absolute;
  top: 50%;  
  left: 50%;  
  transform: translate(-50%, -50%) rotate(45deg);
}
.floating-button--up::after {
  content: '';
  display: block;
  width: 2px;
  height: 20px;
  background-color: #fff;  
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -40%);
}

.floating-button--up:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.floating-button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
  transform: translateY(-2px) scale(1.05);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
/* .floating-button--up:hover{background-color: var(--color-accent);} */
@keyframes float {
  0%, 25%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Movimiento m치s pronunciado */
  }
  75% {
    transform: translateY(0);
  }
}


@media (max-width: 992px) {
    :root{ --color-bg-menu: rgba(34,51,66,.9);}
    html,body{font-size: 14px;}
    .header__nav {
        display: none;
    }
  
    .header__ico-menu {
        display: flex;
    }
    a.mobile-panel__link{padding: 1rem;}
    .mobile-panel {
        position: fixed;
        top: 114px;
        left: -100%;
        width: 100%;
        max-width: 450px;
        height: 100%;
        background: var(--color-accent);
        color: var(--color-font-menu);
        display: flex;
        flex-direction: column;
        padding: 1rem;
        transition: left 0.3s;
        gap: 5px;
      }
      
      .mobile-panel.open {
        left: 0;
      }
    
  }
  